---
import Layout from '../layouts/Layout.astro';
import SpeedTestWithWebSocket from '../components/SpeedTestWithWebSocket';
import { Toaster } from '../components/ui/sonner';
---

<Layout title="Clash SpeedTest">
	<main>
		<SpeedTestWithWebSocket client:load />
		<Toaster client:load position="top-center" theme="dark" />
	</main>
</Layout>

<style>
	main {
		min-height: 100vh;
	}
</style>
