---
import Layout from '@/layouts/Layout.astro';
import SpeedTest from '../components/SpeedTest';
import { Toaster } from '../components/ui/sonner';
---

<Layout title="Clash SpeedTest">
	<main>
		<SpeedTest client:load />
		<Toaster client:load position="bottom-right" theme="dark" closeButton richColors />
	</main>
</Layout>

<style>
	main {
		min-height: 100vh;
	}
</style>
